/* variables */
:root {
    --theme: #C4C4C4;
    --navbarW : 1440px;
    --navbarH : 155px;
}

/* grey color for navbar */
.themeColor {
    background-color: var(--theme);
}

/* size for navbar */
.navbarSize {
    max-height: var(--navbarH);
    max-width: var(--navbarW);
}