/* variables */
:root {
    --theme: #C4C4C4;
    --navbarW : 1440px;
    --navbarH : 155px;
}

/* grey color for navbar */
.themeColor {
    background-color: var(--theme);
}

/* size for navbar */
.navbarSize {
    max-height: var(--navbarH);
    max-width: var(--navbarW);
}

.logButton {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #8FDD60;
    color: black;
}

.inputBox {
    box-shadow: 0px 4px 3px #b8b8b8;
    border-radius: 10px;
}

/*custom form width*/
.formWidth {
    max-width: 400px;
}

/*outerbox*/
.outer{
    background-color: var(--theme);
    border-radius: 10px;
}

/*header and its elements*/
.title{
    top: 50%; 
    transform: translateY(-10%);
}

.logoutBtn{
    float: right;
    display: flex;
    top: 50%;
    transform: translateY(25%);
}
