@import url("../global.css");

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
}

.left{
    float: left;
}

.right{
    float: right;
}

.section{
    text-align: center;
}

.line{
    float: left;
    height: 380px;
    margin: 0px 150px;
    border-left: 1px solid black;
}

.section-header{
    margin-bottom: 50px;
    font-size: 72px;
}

