@import url("../global.css");

.button {
    border-radius: 10px;
    max-width: 150px;
    max-height: 50px;
    box-shadow: 0px 4px 3px #b8b8b8;
    font-size: 1rem;
    float:right;
}

.sideBar {
    margin-top: 10px;
    max-width: 300px;
    padding: 10px 2.5rem 10px 10px;
    height: 80%;
    left: auto;
    position: absolute;
    border-right: 1px solid rgb(70, 70, 70);
}

.sideBar small{
    position: inherit;
    right: 0;
    margin-bottom: 2rem;
}

.sideBar small:hover{
    color:blue;
}

.details {
    margin-top: 30px;
    text-align: center;
    font-size: 1.2rem;
}

.profilePic {
    width: 200px;
    height: 200px;
    background-color: grey;
    display: block;
    
}

.editProfile {
    margin-top: 20px;
    padding-left: 5rem;
    padding-top: 2.5rem;
    margin-left: 300px;
}
.editProfile h1 {
    margin-bottom: 30px;
}

.nav-item a{
    color: black;
    margin-left: 20px; 
    font-size: 20px;
}
.nav-item a:hover {
    text-shadow: 2px 2px 2px white;
    color: black;
}

/* not in use
.hamIcon {
    width: 25px;
    height: 25px;
    margin-bottom: auto;
    left: 10px;

}
.hamIcon hr {
    height: 5px;
    background-color: black;
    border: none;
}
.navBar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    
    left: 0;
    border-right: 2px solid gray;
    overflow-x: hidden;
    transition: 0.3s;
    
    display: block;
    padding: 30px 60px;
    background-color: white;
    display: block;
}
.navBar a {
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    transition: 0.3s;
    color: black;
}*/