/*GLOBAL-VARIABLES--------------------------*/
:root {
    --theme: #C4C4C4;
    --navbarW : 1440px;
    --navbarH : 155px;
}

/* login button */
.logButton {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #8FDD60;
    color: black;
}

.inputBox {
    box-shadow: 0px 4px 3px #b8b8b8;
    border-radius: 10px;
}

/*custom form width*/
.formWidth {
    max-width: 400px;
}

/*outer/background boxes*/
.outer{
    background-color: var(--theme);
    border-radius: 10px;
}

/*elements in header*/
.title{
    top: 50%; 
    transform: translateY(-10%);
}

/* logout button*/
.logoutBtn{
    float: right;
    display: flex;
    top: 50%;
    transform: translateY(25%);
}

.button {
    border-radius: 10px;
    max-width: 150px;
    max-height: 50px;
    box-shadow: 0px 4px 3px #b8b8b8;
    font-size: 1rem;
    float: right;
}

a:link, a:hover, a:visited, a:active, a:focus {
	text-decoration: none;
	color: var(--bs-body-color);
}

.backButton {
    margin-top: 15px;
    margin-bottom: 30px;
}

.backButton a {
    font-size: 1em; 
    text-decoration: underline;
}

.backButton img {
    width: 1em; 
    margin-right: 5px;
}

@media all and (max-width: 500px){
    .navbar-toggler {
        margin-right: 1em;
    }
}

/* Navbar ------------------------ */
/* grey color for navbar */
.themeColor {
    background-color: var(--theme);
}

/* size for navbar */
.navbarSize {
    max-height: var(--navbarH);
    max-width: var(--navbarW);
}

.nav-item a{
    color: black;
    margin-left: 20px; 
    font-size: 20px;
}

.nav-item a:hover {
    text-shadow: 2px 2px 2px white;
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}
