@import url("global.css");
/*LOGIN-REGISTER-PAGE-----------------------*/
.loginRegisterBtn {
	border-radius: 15px;
    max-width: 300px;
    max-height: 50px;
    box-shadow: 0px 4px 3px #b8b8b8;
    font-size: 1.6rem;
}

.regButton {
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #7D7D7D;
    color: white;
}

.greybg {
    padding-top: 8%;
    padding-bottom: 10%;
    margin: auto;
    max-height: 700px;
    max-width: 500px; 
    background-color: #D2D2D2;
}

.registerLine {
    color: black;
    max-width: 300px;
}

.middleText {
    margin-bottom: 10px;
    text-align: center;
}

.googleBtn {
    background-color: white;
    font-size: 1em;
}

.googleImg {
    width: 1em;
    margin-bottom: 3px;
    margin-right: 10px;
}

.registerLink {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

.registerLink a {
    width:140px;
    padding: 0;
    display: inline;
    text-decoration:underline;
}

.valid-feedback {
    display: block;
}

@media all and (max-width: 400px){
	.loginRegisterBtn {
		margin: 20px 12px;
	}
}