@import url("global.css");
/*SELECT-PAGE-------------------------------*/
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
}

.left{
    float: left;
}

.right{
    float: right;
}

.section{
    text-align: center;
}

.selectLine{
    float: left;
    height: 380px;
    margin: 0px 150px;
    border-left: 1px solid black;
}

.section-header{
    margin-bottom: 50px;
    font-size: 72px;
}

.welcomeText {
    margin-top: 2em;
    text-align: center;
}

.welcomeText h2 {
    margin-right: 10px;
    display: block;
}

.welcomeText h5 {
    margin-right: 10px;
    display: block;
}

@media all and (max-width: 1000px){
	.main {
		height: 100%;
		max-width: 100%;
		margin: 0;
	}
	.selectLine{
		display: none;
	}
	.right, .left{
		width: 100%;
		margin: 25px 0;
		padding: 0;
		float: none;
	}
}