@import url("global.css");
/*UPLOAD-PAGE-------------------------------*/
.outerbox{
    padding-top: 4%;
    padding-left: 5%;
    padding-right: 5%;
    height: 580px;
    max-width: 650px;
}

.clickUpload{
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
    justify-content: center;
}

.dropZone {
    background-color: white;
    padding-top: 5%;
    height: 400px;
    max-height: 400px;
    border-style: dashed;
    border-color: black;
}

.uploadImg{
    padding-top: 4%;
    max-height: 125px;
    max-width: 125px;
}

.dropInput{
    display: none;
}

.dropOver {
    border-style: solid;
}

.dropThumb {
    padding-top: 4%;
    width: 125px;
    height: 125px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}