@import url("global.css");
/*PROFILE-PAGE------------------------------*/
.profileBtn {
    border-radius: 10px;
    max-width: 150px;
    max-height: 50px;
    background-color: #8FDD60;
    box-shadow: 0px 4px 3px #b8b8b8;
    font-size: 1rem;
	float: left;
}

.compareBtn {
	border-radius: 5px;
    margin-top: 6px;
    background-color: #f0ffe6;
	border-color: #8fdd60;
}

.divider {
    height: 3rem;
}

.tampering{
    display: flex;
    flex-direction: column;
}

.page-item.active .page-link {
	color: rgb(0, 0, 0);
	background-color: #c0ff96;
	border-color: #8fdd60;
}

.table {
	width: 100%;
    background-color: #fafafa;
    border-color: white;
    border-collapse: collapse;
    border-style: hidden;
}

@media all and (max-width: 400px){
	.table {
		font-size: 9px;
	}
}