@import url("../global.css");

.outerbox{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    max-height: 530px;
}

.clickUpload{
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
    justify-content: center;
}

.dropUpload {
    background-color: white;
    height: 300px;
    max-height: 300px;
    border-style: dashed;
    border-color: black;
}

.uploadImg{
    max-height: 125px;
    max-width: 125px;
}

.dottedBorder{
    border-style: dashed;
    border-color: black;
    border-width: 2px;
    height: 250px;
    width: 600px;
}
