@import url("../global.css");

html{
    height: 100%;
    width: 100%;
}

.outerbox{
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    max-height: 530px;
}

.clickUpload{
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
    justify-content: center;
}

.rightBtn{
    float: right;
    display: flex;
    align-items: center;
}

.dropUpload {
    background-color: white;
    height: 300px;
    max-height: 300px;
}

.uploadImg{
    max-height: 125px;
    max-width: 125px;
}

.dottedBorder{
    border-style: dashed;
    border-color: black;
    border-width: 2px;
    height: 250px;
    width: 600px;
}
